@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.display-none {
    @apply hidden;
}


@layer components {
    /* Universal */
    .text-color-auto {
      @apply text-color_light dark:text-color_dark
    }
    .bg-color-auto-dark {
      @apply bg-color_light dark:bg-color_dark
    }
    .bg-color-auto-light {
      @apply bg-color_dark dark:bg-color_light
    }
    .ring-color-auto-dark {
      @apply ring-color_light dark:ring-color_dark
    }
    .ring-color-auto-light {
      @apply ring-color_light dark:ring-color_light
    }
    .transition-global-200 {
      transition: 200ms ease-in-out;
    }
    .transition-global-300 {
      transition: 300ms ease-in-out;
    }
    .transition-global-400 {
      transition: 400ms ease-in-out;
    }
    .transition-global-500 {
      transition: 500ms ease-in-out;
    }
    /* Navbar */
    .sm-nav-active {
      height: 100% !important;
    }
    /* Sidenav */
    .sn-active {
      @apply bg-color-auto-dark
    }
    .sn-unactive {
      @apply bg-color-auto-light ring ring-color-auto-dark scale-75 hover:bg-color-auto-dark
    }
}